/*
 * Review Web CSS 01
 */

.work {
	width: 1020px;
	margin: 0 auto;
}

.question {
	width: 510px;
	float: left;
}
.answer {
	width: 510px;
	float: left;
}


.question:after {
	color: #CC4A30;
	content:"01.css が 読み込まれたよ！";
}
