/*
 * Review Web CSS 02
 */

.work {
	width: 1020px;
	margin: 0 auto;
}
.imageBox {
	border: 1px solid #333;
}
.imageBoxText {
	font-family: serif;
	font-size: 16px;
}
.question {
	width: 510px;
	float: left;
}
.answer {
	width: 510px;
	float: left;
}


/**  ここから下を編集してください  **/


.redBackBox {
	width: 250px;
	height: 200px;
	background-color: #A64847;
}
.blueBackBox {
	width: 250px;
	height: 200px;
	background-color: #5191FD;
}
.greenBackBox {
	width: 250px;
	height: 200px;
	background-color: #0DA921;
}
.grayBackBox {
	width: 250px;
	height: 200px;
	background-color: #999999;
}

.cf:before,
.cf:after {
	content:"";
	display:block;
}
 
.cf:after {
	clear:both;
}

.fL {
	float: left;
}
