/*
 * Review Web CSS 03
 */

.work {
	width: 1020px;
	margin: 0 auto;
}
.imageBox {
	border: 1px solid #333;
}
.imageBoxText {
	font-family: serif;
	font-size: 16px;
}


/**  ここから下を編集してください  **/

#nav {
	margin: 0;
	padding: 0;
}

.navList {
	background: #cdc;
	padding: 3px 15px;
}


.navList a:hover {
	text-decoration: underline;
}

.cf:before,
.cf:after {
	content:"";
	display:block;
}
 
.cf:after {
	clear:both;
}
