/*
 * Review Web CSS 03
 */

.work {
	width: 1020px;
	margin: 0 auto;
}
.imageBox {
	border: 1px solid #333;
}
.imageBoxText {
	font-family: serif;
	font-size: 16px;
}
.question {
	width: 510px;
	float: left;
}
.answer {
	width: 510px;
	float: left;
}

/**  ここから下を編集してください  **/

.circleParent {
	position: inherit;
}
.circle {
	width: 140px;
	height: 140px;
	opacity: .7;
}

.circle p {
	padding-top: 40px;
	text-align: center;
}

.orangeCir {
	background-color: #E07856;
}
.skyCir {
	background-color: #64D2ED;
}

.greenCir {
	background-color: #0F9A08;
}

.purpleCir {
	background-color: #697EEC;
}


