/*
 * Review Web CSS 03
 */

.work {
	width: 1020px;
	margin: 0 auto;
}
.imageBox {
	border: 1px solid #333;
}
.imageBoxText {
	font-family: serif;
	font-size: 16px;
}
.question {
	width: 510px;
	float: left;
}
.answer {
	width: 400px;
	float: left;
}

/**  ここから下を編集してください  **/

.dn {
	display: none;
}

.whiteBoader {
	border: solid #fff 5px;
}
.slider {
	width: 1200px;
}

.slider-view {
	box-shadow: 0 0 5px #ccc;
	left: -5px;
	background: #fff;
	width: 100%;
}

.slider li {
	width: 400px;
}

.slider-wrap {
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.slider-wrap img {
	max-width: 100%;
	display: block;
}

.slider-controler a {
	width: 32px;
	height: 32px;
	z-index: 9999;
}

.slider-prev {
	left: 10px;
	background: url(../img/controler.png) no-repeat 0 -32px;
}

.slider-next {
	right: 10px;
	background: url(../img/controler.png) no-repeat -43px -32px;
}

.slider-prev:hover {
	background-position: 0 0;
}

.slider-next:hover {
	background-position: -43px 0;
}
